SUPABASE_URL=https://cypiypzebtxuyfdraadm.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN5cGl5cHplYnR4dXlmZHJhYWRtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY1NzE4OTcsImV4cCI6MjEwMjE0Nzg5N30.x6Rl_UKw97bGk3ig3j0rH1JB-IJV_V-SN-ihtiMMPX8
